// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    		#016fba
);

$primary-color: #016fba;
$primary-light-color: #42a1d7;
$secondary-color: #ff9505;
$tertiary-color: #f2784f;
$danger-color: #ec4e1f;
$light-color: #ffd046;
$semi-dark-color: #042a2b;
$dark-color: #022123;
$gray-color: #999;

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
